<form action="POST" id="locationForm" class="relative">
  <input
    class="rounded-sm bg-transparent border-gray-300 border px-4 py-2 w-full transition-all ease-in focus:outline-none text-white"
    type="search"
    id="locationInput"
    list="location_names"
  />
  <button type="submit" id="button" class="absolute px-4 py-2 right-10 top-0">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
        class="text-gray-200"
      />
    </svg>
  </button>
</form>

<div
  id="temperature "
></div>

<datalist id="location_names">
  <option value="London"></option>
  <option value="San Francisco"></option>
  <option value="New York"></option>
  <option value="Sydney"></option>
  <option value="Philadelphia"></option>
  <option value="Manchester"></option>
  <option value="Houston"></option>
  <option value="Birmingham"></option>
  <option value="Los Angeles"></option>
  <option value="Berlin"></option>
  <option value="Chicago"></option>
  <option value="Tokyo"></option>
  <option value="Beijing"></option>
  <option value="Mexico City"></option>
  <option value="Osaka"></option>
  <option value="Bristol"></option>
  <option value="Mumbai"></option>
  <option value="Glasgow"></option>
  <option value="Amsterdam"></option>
  <option value="Johannesburg"></option>
  <option value="Rio de Janeiro"></option>
  <option value="Shanghai"></option>
  <option value="New Delhi"></option>
  <option value="Jakarta"></option>
  <option value="Seoul"></option>
  <option value="São Paulo"></option>
  <option value="Moscow"></option>
  <option value="Hong Kong"></option>
  <option value="San Diego"></option>
  <option value="San Jose"></option>
  <option value="Dallas"></option>
  <option value="Indianapolis"></option>
  <option value="San Antonio"></option>
  <option value="Montréal"></option>
  <option value="Jacksonville"></option>
  <option value="Austin"></option>
  <option value="Kiev"></option>
  <option value="Phoenix"></option>
  <option value="Madrid"></option>
  <option value="Toronto"></option>
  <option value="Fort Worth"></option>
  <option value="Guangzhou"></option>
  <option value="Columbus"></option>
  <option value="Memphis"></option>
  <option value="Washington DC"></option>
  <option value="Paris"></option>
  <option value="Munich"></option>
  <option value="Brisbane"></option>
  <option value="Rome"></option>
  <option value="Milwaukee"></option>
  <option value="Bradford"></option>
  <option value="Liverpool"></option>
  <option value="Wakefield"></option>
  <option value="Istanbul"></option>
  <option value="El Paso"></option>
  <option value="Seattle"></option>
  <option value="Baltimore"></option>
  <option value="Las Vegas"></option>
  <option value="Melbourne"></option>
  <option value="Buenos Aires"></option>
  <option value="Boston"></option>
  <option value="Nashville"></option>
  <option value="Edinburgh"></option>
  <option value="Perth"></option>
  <option value="Karachi"></option>
  <option value="Hamburg"></option>
  <option value="Dubai"></option>
  <option value="Leeds"></option>
  <option value="Sheffield"></option>
  <option value="Adelaide"></option>
  <option value="Charlotte"></option>
  <option value="Detroit"></option>
  <option value="Louisville"></option>
  <option value="Barcelona"></option>
  <option value="Denver"></option>
  <option value="Portland"></option>
  <option value="Oklahoma City"></option>
  <option value="Cardiff"></option>
  <option value="Kolkata"></option>
  <option value="Cairo"></option>
  <option value="Virginia Beach"></option>
  <option value="Kinshasa"></option>
  <option value="Honolulu"></option>
  <option value="Tehrān"></option>
  <option value="Colorado Springs"></option>
  <option value="Auckland"></option>
  <option value="Dongguan"></option>
  <option value="Sacramento"></option>
  <option value="Kansas City"></option>
  <option value="Fresno"></option>
  <option value="Bangkok"></option>
  <option value="Ho Chi Minh City"></option>
  <option value="Mesa"></option>
  <option value="Atlanta"></option>
  <option value="Bangalore"></option>
  <option value="Lima"></option>
  <option value="Albuquerque"></option>
  <option value="Tucson"></option>
  <option value="Lagos"></option>
  <option value="Long Beach"></option>
  <option value="Shenzhen"></option>
  <option value="Bogotá"></option>
  <option value="Omaha"></option>
  <option value="Raleigh"></option>
  <option value="Miami"></option>
  <option value="Exeter"></option>
  <option value="Hà Nội"></option>
  <option value="Casablanca"></option>
  <option value="Singapore"></option>
  <option value="Yokohama"></option>
  <option value="Nairobi"></option>
  <option value="Tianjin"></option>
  <option value="Dhaka"></option>
  <option value="Pyongyang"></option>
  <option value="Addis Ababa"></option>
  <option value="Hyderabad"></option>
  <option value="Santa Cruz"></option>
  <option value="Dublin"></option>
  <option value="Budapest"></option>
  <option value="Milan"></option>
  <option value="Cambridge"></option>
  <option value="Oxford"></option>
  <option value="Vienna"></option>
  <option value="Brussels"></option>
  <option value="Cologne"></option>
  <option value="Riyadh"></option>
  <option value="Damascus"></option>
  <option value="Ankara"></option>
  <option value="Little Rock"></option>
  <option value="Wilmington"></option>
  <option value="Santiago"></option>
  <option value="Birmingham"></option>
  <option value="Baghdad"></option>
  <option value="Boise"></option>
  <option value="Anchorage"></option>
  <option value="Athens"></option>
  <option value="Santorini"></option>
  <option value="Reykjavík"></option>
  <option value="Sofia"></option>
  <option value="Prague"></option>
  <option value="Zagreb"></option>
  <option value="Oslo"></option>
  <option value="Copenhagen"></option>
  <option value="Bucharest"></option>
  <option value="Torino"></option>
  <option value="Stockholm"></option>
  <option value="Naples"></option>
  <option value="Warsaw"></option>
  <option value="Bridgeport"></option>
  <option value="Wichita"></option>
  <option value="Richmond"></option>
  <option value="New Orleans"></option>
  <option value="Calgary"></option>
  <option value="Edmonton"></option>
  <option value="St Petersburg"></option>
  <option value="Manila"></option>
  <option value="Vancouver"></option>
  <option value="Maracaibo"></option>
  <option value="Caracas"></option>
  <option value="Cheyenne"></option>
  <option value="Charleston"></option>
  <option value="Santander"></option>
  <option value="İzmir"></option>
  <option value="Toulouse"></option>
  <option value="Bordeaux"></option>
  <option value="Wuhan"></option>
  <option value="Marseille"></option>
  <option value="Lille"></option>
  <option value="Ahmedabad"></option>
  <option value="Lyon"></option>
  <option value="Nice"></option>
  <option value="Lahore"></option>
  <option value="Belfast"></option>
  <option value="Bremen"></option>
  <option value="Stoke-on-Trent"></option>
  <option value="Fargo"></option>
  <option value="Sendai"></option>
  <option value="Truro"></option>
  <option value="Preston"></option>
  <option value="Sunderland"></option>
  <option value="Lisbon"></option>
  <option value="Phuket"></option>
  <option value="Palm Springs"></option>
  <option value="Leicester"></option>
  <option value="Stuttgart"></option>
  <option value="Coventry"></option>
  <option value="Gothenburg"></option>
  <option value="Hanover"></option>
  <option value="St. Louis"></option>
  <option value="Salvador"></option>
  <option value="Plymouth"></option>
  <option value="Lake Tahoe"></option>
  <option value="Nuremberg"></option>
  <option value="Mountain View"></option>
  <option value="Kawasaki"></option>
  <option value="Kyoto"></option>
  <option value="Kobe"></option>
  <option value="Hangzhou"></option>
  <option value="Blackpool"></option>
  <option value="Yangon"></option>
  <option value="Bakersfield"></option>
  <option value="Salt Lake City"></option>
  <option value="Geneva"></option>
  <option value="Portland"></option>
  <option value="Reading"></option>
  <option value="Durban"></option>
  <option value="Saitama"></option>
  <option value="Brighton"></option>
  <option value="Dresden"></option>
  <option value="Ajaccio"></option>
  <option value="Pune"></option>
  <option value="Mombasa"></option>
  <option value="Providence"></option>
  <option value="Chennai"></option>
  <option value="Kharkiv"></option>
  <option value="Helsinki"></option>
  <option value="Taipei"></option>
  <option value="Essen"></option>
  <option value="St Ives"></option>
  <option value="Aberdeen"></option>
  <option value="Oakland"></option>
  <option value="Sapporo"></option>
  <option value="Ipswich"></option>
  <option value="Norwich"></option>
  <option value="Christchurch"></option>
  <option value="Surat"></option>
  <option value="Busan"></option>
  <option value="Manchester"></option>
  <option value="Hiroshima"></option>
  <option value="Northampton"></option>
  <option value="Leipzig"></option>
  <option value="Southend-on-Sea"></option>
  <option value="The Hague"></option>
  <option value="Minsk"></option>
  <option value="Salford"></option>
  <option value="Kirkwall"></option>
  <option value="Swansea"></option>
  <option value="Penzance"></option>
  <option value="Ibadan"></option>
  <option value="Billings"></option>
  <option value="Alexandria"></option>
  <option value="Newcastle"></option>
  <option value="Jackson"></option>
  <option value="Sioux Falls"></option>
  <option value="Nagoya"></option>
  <option value="Swindon"></option>
  <option value="Brasília"></option>
  <option value="Dundee"></option>
  <option value="Kano"></option>
  <option value="Kitakyushu"></option>
  <option value="Denpasar"></option>
  <option value="Boulder"></option>
  <option value="Minneapolis"></option>
  <option value="Frankfurt"></option>
  <option value="Falmouth"></option>
  <option value="Middlesbrough"></option>
  <option value="Rhyl"></option>
  <option value="Bournemouth"></option>
  <option value="Fukuoka"></option>
  <option value="Newark"></option>
  <option value="Manukau"></option>
  <option value="Luton"></option>
  <option value="Wellington"></option>
  <option value="Abidjan"></option>
  <option value="Kingston upon Hull"></option>
  <option value="Des Moines"></option>
  <option value="Windhoek"></option>
  <option value="Calvi"></option>
  <option value="Venice"></option>
  <option value="Santa Cruz de Tenerife"></option>
  <option value="Chengdu"></option>
  <option value="York"></option>
  <option value="Kuala Lumpur"></option>
  <option value="Portsmouth"></option>
  <option value="Sidmouth"></option>
  <option value="Burlington"></option>
  <option value="Santa Fe"></option>
  <option value="Zurich"></option>
  <option value="Nottingham"></option>
  <option value="Derby"></option>
  <option value="Huddersfield"></option>
  <option value="Dortmund"></option>
  <option value="Wolverhampton"></option>
  <option value="Cape Town"></option>
  <option value="Düsseldorf"></option>
  <option value="Columbia"></option>
</datalist>
